.jumbotron{
    background-image: url(/assets/bg.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    color: white;
}
.row{
    background-color: turquoise;
}
h2{
    text-align: center;
    font-family: 'Dancing Script', cursive;
}