<div class="container">
    <h2>BE INSPIRED BY OUR QUOTES</h2><br>
    <div class="row">
        <div class="col-sm-12">
            <div *ngFor='let quote of quote; let i = index'>
                <h3>QUOTE: {{ quote.title }}</h3>
                <p> <small><button>DESCRIPTION:</button></small> {{ quote.description }}</p>
                <app-add-quote-details [quote]='quote' (isComplete)='completeQuote($event, i)'></app-add-quote-details>
                <button class="btn btn-primary" (click)='like(i)'>LIKE: {{ quote.like }}</button>
                <button class="btn btn-secondary" (click)='dislike(i)'>DISLIKE: {{ quote.dislike }}</button>
            </div>
            <div *ngIf='quote.length < 1' class='alert alert-warning'>
                No Quotes Available For Now
            </div>
        </div>
    </div>
    <br>
    <div class="jumbotron">
        <div class="col-sm-12">
            <app-form (addQuote)="addNewQuotes($event)"></app-form>
        </div>
    </div>
</div>