.jumbotron{
    background-image: url(/assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    color: white;
}
.row{
    background-color: turquoise;
}
h2{
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
p{
    font-size: 20px;
}
small{
    font-size: 10px;
}
button{
    font-style: italic;
}