
  h5{
    margin-bottom: 40px;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }
  small{
    font-family: 'Dancing Script', cursive;
    color:black;
    font-size: 20px;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }
  .images {
    border-radius: 60%;
    width: 4.5%;
  }
  .quote {
    font-size: 65px;
    font-style: italic;
  }
  button:hover{
    color: green;
    font-family: 'Paytone One', sans-serif;
  }
  
  .jumbotron{
    margin:70px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }
